.selected-furniture-panel {
    font-size: 12px;
}

#file-button-content {
    left: 84px;
    width: 94px;
    position: absolute;
    font-weight: 500;
    z-index: 10;
}

#file-button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

#file-button+label {
    color: #696969;
    display: inline-block;
    font-size: 17px;
    letter-spacing: 1px;
    fill: #696969;
}

#file-button+label:hover {
    background-color: #3795f9;
    color: white;
    border: 1px solid #3795f9;
    border-radius: 2px;
    fill: azure;
    stroke: azure;
    cursor: pointer
}