.right-menu-container {
    position: absolute;
}

.rightmenu_panel {
    background-color: black;
    color: white;
    font-size: 16px;
    height: 40px;
    opacity: 0.6;
    line-height: 40px;
    border-radius: 4px;
}

.render_single {
    border-right: 1px solid white;
}

.render_flipx {
    border-right: 1px solid white;
}

.rightmenu_panel span {
    opacity: 0.9;
    height: 40px;
    display: inline-block;
    text-align: center;
    width: 75px;
}

.rightmenu_divider {
    display: inline-block;
}

.rightmenu_panel span:hover {
    opacity: 1;
    height: 40px;
    display: inline-block;
    background-color: #3795f9;
    cursor: pointer
}